@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "cascadiaCode-bold";
  src: url("/Fonts/CascadiaCode-Bold.ttf");
}

@font-face {
  font-family: "cascadiaCode-light";
  src: url("/Fonts/CascadiaCode-Light.ttf");
}

@font-face {
  font-family: "cascadiaCode-regular";
  src: url("/Fonts/CascadiaCode-Regular.ttf");
}

@font-face {
  font-family: "cascadiaCode-semiBold";
  src: url("/Fonts/CascadiaCode-SemiBold.ttf");
}

.active {
  @apply text-orange-400;
}
.inActive {
  @apply text-gray-50;
}
.imageSliderArrow {
  @apply text-3xl text-purple-950 bg-purple-500 rounded-full cursor-pointer;
}
